body
{
    background-color: red;
}

#myContainer {
    width: 300px;
    height: 300px;
    position: relative;
    background: blue;
}

#myAnimation {
    width: 30px;
    height: 30px;
    position: absolute;
    background: green;
}